/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

#info {
    background-color: rgb(240,248,255, 0.5);
    margin: 1em;
    margin-right: 20em;
    padding: 1em;
    border-radius: 10px;
    max-width: 400px;
}

#weather-info {
    display: flex;
    align-items: center;
}

#location {
    font-size: 3em;
}

#temperature {
    border-right: 3px solid black;
    font-size: 5em;
    padding-right: 15px;
}

#additional-info {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-left: 15px;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 100vh;
}

#form {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

#form button {
    background-color: black;
    border-radius: 10px;
    color: aliceblue;
    padding: 5px 10px;
}

#form input {
    background-color: rgb(240,248,255, 0.5);
    border-radius: 10px;
    padding: 5px 10px;
}

.switch-btn {
    display: inline-block;
    width: 72px; 
    height: 38px; 
    border-radius: 19px; 
    background: #bfbfbf; 
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms; 
    text-align: center;
}

.switch-btn::after {
    font-size: 1.6em;
    content: "F";
    height: 32px; 
    width: 32px; 
    border-radius: 17px;
    background: #fff; 
    top: 3px; 
    left: 3px; 
    transition-duration: 300ms; 
    position: absolute;
    z-index: 1;
}

.switch-on {
    background-color: black;
}

.switch-on::after {
    left: 37px;
    content: 'C';
}

#temperature::after {
    font-size: 0.5em;
    content: '째F';
    position: relative;
    left: 5px;
    bottom: 1em;
}

#feels-like::after {
    font-size: 0.6em;
    content: '째F';
    position: relative;
    left: 1px;
    bottom: 1em;
}

#temperature.celsius::after {
    content: '째C';
}

#feels-like.celsius::after {
    content: '째C';
}
